body {
    background-color: #408827;
}

button {
    background-color: #4d4d4d;
    color: white;
    border-radius: 8px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 20px;
}